@font-face {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/ibmplexsans/v8/zYX9KVElMYYaJe8bpLHnCwDKjXr8AIFsdP3pBms.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/ibmplexsans/v8/zYX9KVElMYYaJe8bpLHnCwDKjQ76AIFsdP3pBms.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/* define native CSS variables here */
:root {
  --color-dark1: #161616;
  --color-dark2: #262626;
  --color-dark3: #393939;

  --color-white: rgba(255, 255, 255);
  --color-white1: rgba(255, 255, 255, 0.75);
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Sans", Arial, sans-serif;
  font-size: 14px;
  background-color: #262626;
}

a {
  text-decoration: none;
}

.app-body {
  /* Two column layout spanning 100 percent of viewport. */
  display: grid;
  background-color: white;
  height: 100vh;
  grid-template-areas:
    "app-sidebar-area app-header-area"
    "app-sidebar-area app-main-area";

  /* Fix width of left column and let right column span complete width */
  grid-template-columns: 16rem 1fr;

  /* Fix height of top row and let bottom row span complete height */
  grid-template-rows: 3.5rem 1fr;
}

.app-sidebar {
  display: grid;
  grid-area: app-sidebar-area;
  grid-template-areas:
    "app-logo-area"
    "app-sidenav-area";
  grid-template-rows: 3.5rem 1fr;

  font-weight: bold;
  background-color: var(--color-dark2);
  color: var(--color-white1);

  padding-bottom: 3rem;
}

.app-header {
  display: grid;
  grid-area: app-header-area;
  grid-template-areas: "app-header-left-menu-area app-header-right-menu-area";
  background-color: var(--color-dark1);
  color: var(--color-white1);
  align-content: center;
  height: 60px;
}

.app-main {
  display: grid;
  grid-area: app-main-area;
  padding-top: 10px;
  align-content: start;
}

.app-logo {
  display: flex;
  grid-area: app-logo-area;
  color: var(--color-white);
  background-color: var(--color-dark1);
  align-content: center;
  padding: 0 1rem;
  height: 60px;
  padding-top: 5px;
}

.app-logo h5 {
  margin: auto;
}

.app-header-right-menu {
  grid-area: app-header-right-menu-area;
  justify-self: end;
  padding-right: 15px;
}
.app-header-left-menu {
  grid-area: app-header-left-menu-area;
  justify-self: start;
  padding-left: 15px;
}

.app-sidenav {
  display: grid;
  grid-area: app-sidenav-area;
  grid-template-areas: ".";
  margin-top: 25px;
}

/* change the default bootstrap nav-link color */
.app-header .nav-link,
.app-header .dropdown-item,
.app-sidebar .nav-link {
  color: var(--color-white1);
}

/* change the default bootstrap nav-link hover color, background color */
.app-header a:hover,
.app-sidebar a:hover {
  color: var(--color-white);
  background-color: var(--color-dark3);
}

/* change the default boostrap drop-down menu background color */
.app-header .dropdown-menu {
  background-color: var(--color-dark2);
}

/* let the nested menu items be indented */
.app-sidebar ul ul a {
  padding-left: 2rem !important;
}

/* move the default dropdown caret to the end after link text */
.app-sidebar .dropdown-toggle {
  position: relative;
}

.app-sidebar .dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  transition: 0.1s;
}

/* make the top part stay sticky to top while scrolling down to see more content */
.app-sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1020;
}

.app-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1030;
}

/* let the 'main' area be independently scrollable when there is content beyond the viewport */
.app-main,
.app-sidenav {
  overflow: auto;
}

/* let the sidebar be independently scrollable when there is content beyond the viewport */
.app-main,
.app-sidenav {
  overflow-y: auto;
}

/* REGISTRATION FORM */
#dash-addUserAcct {
  background-color: grey;
  height: 100vh;
}
#register_form h1 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}
#register_form {
  width: 37%;
  margin: 100px auto;
  padding-bottom: 30px;
  border: 1px solid grey;
  border-radius: 15px;
  background: white;
}
#register_form input {
  width: 80%;
  height: 35px;
  margin: 5px 10%;
  font-size: 1.1em;
  padding: 4px;
  font-size: .9em;
}
.form_error span {
  width: 80%;
  height: 35px;
  margin: 3px 10%;
  font-size: 1em;
  color: red;
}
.form_error input {
  border: 1px solid red;
}
#reg_btn {
  height: 35px;
  width: 80%;
  margin: 5px 10%;
  color: white;
  background: #3B5998;
  border: none;
  border-radius: 5px;
}
#message {
  width: 80%;
  height: 35px;
  margin: 3px 10%;
  font-size: 1em;
  color: red;
}

/* HIDE or SHOW DIV*/
.unhidden {
  display: block;
}
.hidden {
  display: none;
}

/* ------ TRIP SCHEDULE ----------- */
.trip-nav {
  overflow: hidden;
  background-color: #e9e9e9;
}
#search-trip-schedules{
  float: left;
  display: block;
  height: 35px;
  margin-left: 5%;
  margin-right:auto;
}
.search-trip-schedules input[type=text] {
  margin-left: 5%;
  padding: 10px;
  height: 35px;
  font-size: 17px;
  float: left;
  width: 50%;
  background: #f1f1f1;
}
.search-trip-schedules button {
  float: left;
  height: 35px;
  width: 5%;
  padding: auto;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
.search-trip-schedules button:hover {
  background: #0b7dda;
  border: 2px solid black;
  border-left: none;
}
#add_trip_btn {
  display: block;
  float: right;
  height: 35px;
  width: 100px;
  margin-right: 5%;
  margin-left:auto;
  color: white;
  background: brown;
  border: none;
  font-weight: bold;
}
#add_trip_btn:hover {
  background: rgb(214, 14, 14);
  border: 2px solid black;
}
/* ------ INSERT NEW TRIP SCHEDULE ----------- */
#insert-new-trip-schedule {
  background-color: rgb(209, 209, 209);
  padding: 10px;
  display: none;
}
#insert-trip-form {
  width: 80%;
  margin: 20px auto;
  padding: 30px 25px 30px 25px;
  border: none;
  background: wheat;
}
.new-trip-panel h1 {
  border-bottom: 2px solid rgb(35, 35, 35);
  margin-bottom: 10px;
}
.orig-dest, .date-time, .bus-info, #insertTrip_btn, #reset_btn, #cancel_btn  {
  display: inline-block;
  box-sizing: border-box;
  padding-right: 15px;
}
.orig-dest, .date-time {
  width: 50%
}
.bus-info {
  width: 33.33%;
}
.first-row, .sec-row, .third-row, .trip-btn {
  display: flex;
  margin-bottom: 10px;
}
.trip-btn {
  margin-top: 20px;
  margin-bottom: 0px;
}
#insertTrip_btn {
  height: 35px;
  width: 33.33%;
  margin-left: 5%;
  margin-right: 5%;
  color: white;
  background: green;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}
#reset_btn {
  height: 35px;
  width: 33.33%;
  margin-left: 5%;
  margin-right: 5%;
  color: white;
  background: #3B5998;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}
#cancel_btn {
  height: 35px;
  width: 33.33%;
  margin-left: 5%;
  margin-right: 5%;
  color: white;
  background: rgb(145, 43, 43);
  border: none;
  border-radius: 5px;
  font-weight: bold;
}
.new-trip-panel label {
  font-size: 1.25em;
  font-weight: bold;
}
.newTrip-input {
  width: 100%;
  border-radius: 5px;
  border-color: rgb(86, 86, 86);
  font-size: 1.2em;
}

/* ------ TRIP SCHEDULES TABLE -------*/
.trip-schedules {
  display: block;
  width: 100%;
}
.trip-schedules-table {
  border: 1px solid black;
  table-layout:fixed;
  width:95%;
  margin:25px auto;

}
.trip-schedules-table th, td {
  border: 1px solid black;
  padding:5px;
}