@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

* {
	box-sizing: border-box;
	font-family: Raleway, sans-serif;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.screen {		
	background: linear-gradient(90deg, #bd1835, #650510);		
	position: relative;	
	height: 500px;
	width: 360px;	
	box-shadow: 0px 0px 24px #5d0b1b;
}

.screen__content {
	z-index: 1;
	position: relative;	
	height: 100%;
}

.screen__background {		
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	-webkit-clip-path: inset(0 0 0 0);
	clip-path: inset(0 0 0 0);	
}

.screen__background__shape {
	transform: rotate(45deg);
	position: absolute;
}

.screen__background__shape1 {
	height: 500px;
	width: 500px;
	background: #FFF;	
	top: -50px;
	right: 120px;	
	border-radius: 0 72px 0 0;
}

.screen__background__shape2 {
	height: 210px;
	width: 210px;
	background: #d22752
    ;	
	top: -172px;
	right: 0;	
	border-radius: 32px;
}

.screen__background__shape3 {
	height: 540px;
	width: 190px;
	background: linear-gradient(270deg, #f54b5f, #740613);
	top: -24px;
	right: 0;	
	border-radius: 32px;
}

.screen__background__shape4 {
	height: 420px;
	width: 210px;
	background: brown;	
	top: 420px;
	right: 50px;	
	border-radius: 60px;
}

.login {
	padding: 30px;
	padding-top: 90px;
    height: 100%;
}

.login__field {
	padding: 20px 0px;	
	position: relative;	
}

.login-panel-logo img {
    height: 125px;
    width: 125px;
    display: block;
    margin-left: auto;
    margin-right: auto 
}

.login-panel-logo {
    margin: 0px;
}

.login__icon {
	position: absolute;
	top: 30px;
	color: brown;
}

.login__input {
	border: none;
	border-bottom: 2px solid #D1D1D4;
	background: none;
	padding: 10px;
	padding-left: 24px;
	font-weight: 700;
	width: 100%;
	transition: .2s;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
	outline: none;
	border-bottom-color: brown;
}

.login__submit {
	background: #fff;
	font-size: 14px;
	margin-top: 30px;
	padding: 16px 20px;
	border-radius: 26px;
	border: 1px solid #D4D3E8;
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
	align-items: center;
	width: 100%;
	color: brown;
	box-shadow: 0px 2px 2px brown;
	cursor: pointer;
	transition: .2s;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
	border-color: brown;
	outline: none;
}

.button__icon {
	font-size: 24px;
	margin-left: auto;
	color: brown;
}
