* {
	box-sizing: border-box;
}  
body {
	padding: 0px;
	margin: 0px;
}

/*----------NAVIGATION------------------------------------------*/

nav {
	position: fixed;
	z-index: 10;
	left: 0;
	right: 0;
	top: 0;
	font-family: 'Montserrat', sans-serif;
	padding: 0 5%;
	height: 60px;
	background-color: brown;
}
nav .logo {
	float: left;
	width: 40%;
	height: 100%;
	display: flex;
	align-items: center;
	font-size: 24px;
	color: #fff;
}
nav .logo img {
    height: 50px;
    width: 50px;
}
nav .links {
	float: right;
	padding: 0;
	margin: 0;
	width: 60%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
nav .links li {
	list-style: none;
    margin: 0px;
}
nav .links a {
	display: block;
	padding: 1em;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
}
#nav-toggle {
	position: absolute;
	top: -100px;
}
nav .icon-burger {
	display: none;
	position: absolute;
	right: 5%;
	top: 50%;
	transform: translateY(-50%);
}
nav .icon-burger .line {
	width: 30px;
	height: 5px;
	background-color: #fff;
	margin: 5px;
	border-radius: 3px;
	transition: all .3s ease-in-out;
}
nav ul li a.active {
	background-color: rgb(167, 103, 103);
    color:white;
	border-radius: 25px;
}
nav ul li a:hover {
    background-color: burlywood;
    color:darkblue;
	border-radius: 25px;
}

/*----------CONTENTS------------------------------------------*/

.contents {
    font-family: 'Montserrat', sans-serif;
    margin-top: 60px;
	display: block;
}
.container {
	margin-top: 60px;
	margin-bottom: 0px;
}
.container img {
	display: block;
	width: 100%;
}
.book-trip-panel {
	margin:10px 18% 10px 18%;
}
.radio-trip {
	display: inline-block;
	margin-right: 20px;
}
.booking-panel {
	width: 100%;
	margin-top: 10px;
	display: flex;
	border: 1px solid black;
}
.dropdown, .booking-date-holder, .passenger {
	margin-right: 15px;
}
.booking-date-holder {
	display: block;
}
.booking-date-line {
	margin-top: 3px;
	background-color: black;
	border: 1px solid black;
}
.dropdown {
	width: 15%;
	box-sizing: border-box;
}
.return, .depart, .date-line, .far {
	display: inline-block;
}
.btn-book {
	padding: 8px 0px;
	width: 75px;
}
.reminders-panel {
	margin-top: 15px;
	display: flex;
}
.reminders-panel, .manage-my-booking-button-holder, .reminders {
	border: 1px solid black;
}
.reminders p {
	margin: 0px;
}
.reminders {
	width: 80%;
}
.manage-my-booking-button-holder {
	width: 20%;
}
.manage-my-booking-button {
	height: 30%;
	width: 100%;
	margin-top: 10%;
}

/*----------FOOTER------------------------------------------*/

footer {
    font-family: 'Montserrat', sans-serif;
    text-align: center  ;
    color: white;
    background-color: #0a3d52;
    left: 0;
    bottom: 0;
	width: auto;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5px;
    padding-bottom: 5px;
	display: block;
}
.footer-list a {
	text-decoration: none;
	color: white
}
.footer-list li, .copyright, .social-media-list {
	list-style: none;
}
.social-media-panel {
	display: flex;
  	justify-content: center;
	padding: 0px;
}
.social-media-list a, .copyright a {
	color: white;
}
.social-media-list {
	text-align: center;
	margin: 0px;
}
.social-media-list li {
	display: inline-block;
}
.social-media-list i.fab {
	font-size: 25px;
	width: 40px !important;
}
.footer-panel {
	width: 100%;
  	margin: 0 auto;
}
.footer-list-about, .footer-list-guidelines, .footer-list-support {
	width: auto;
  	display: inline-flex;
	height: 100%;
}
.footer-panel ul {
	text-align: left;
}

/*----------MEDIA SCREEN RESPONSIVE------------------------------------------*/

@media screen and (max-width: 740px) {
	nav {
		height: 60px;
		width: auto;
	}
	nav .logo {
		float: none;
		width: auto;
		justify-content: center;
	}
	nav .links {
		float: none;
		position: fixed;
		z-index: 1;
		left: 0;
		right: 0;
		top: 60px;
		bottom: 100%;
		width: auto;
		height: auto;
		flex-direction: column;
		justify-content: space-evenly;
		background-color: rgba(0,0,0,.8);
		overflow: scroll;
		box-sizing: border-box;
		transition: all .5s ease-in-out;
	}
	.links::-webkit-scrollbar {
		display: none;
	}
	nav .links a {
		font-size: 20px;
	}
	nav :checked ~ .links {
		bottom: 0;
	}
	nav .icon-burger, .line{
		display: block;
	}
	nav :checked ~ .icon-burger .line:nth-child(1) {
		transform: translateY(10px) rotate(225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(3) {
		transform: translateY(-10px) rotate(-225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(2) {
		opacity: 0;
	}
	.footer-list-about, .footer-list-guidelines, .footer-list-support {
		width: auto;
		display: block;
		height: auto;
	}
	.footer-panel ul {
		text-align: center;
	}
}

/*----------IMAGE SLIDER------------------------------------------*/

#slider, .wrap, .slide-content{
  margin:0;
  padding:0;
  font-family: Cabin, Helvetica, sans-serif;
  width:100%;
  height:100vh;
  overflow-x:hidden;
}
.wrap{
  position:relative;
  margin: 0px;
}

.slide{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0s;
}

.slide1{background-image: url('https://www.thepoortraveler.net/wp-content/uploads/2012/06/Bay-yo-Rice-Terraces.jpg');}
.slide2{background-image: url('https://www.eaglenews.ph/wp-content/uploads/2016/10/31bcb22f-83c8-4fb9-b653-3ab3171ec180.jpg');}
.slide3{background-image: url('https://gttp.imgix.net/224489/x/0/17-best-sagada-tourist-spots-hanging-coffins-and-caves-in-the-mountains-2.jpg');}

.slide-content{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.slide-content span{
  font-size: 5rem;
  color:#fff;
  background-color:rgba(0,0,0, .6);
  padding:10px 20px;
}

.dir-control{
  cursor: pointer;
  position:absolute;
  top:50%;
  margin-top:-30px;
  width:0;
  height:0;
  z-index:1;
}
.fa {
display:inline-block;
 line-height: 50px;
 background-color:rgba(0,0,0, .3);
 width:50px;
 height:56px;
 color:white;
 text-align: center;
 vertical-align: bottom;
}

#dir-control-left{
  left:0;
  margin-left:30px;
}

#dir-control-right{
  right:0;
  margin-right:60px;
}
.slider-active{
  visibility:hidden;
  opacity:0;
}
.slide.slide-is-active{
  visibility:visible;
  opacity: 1;
}

.slide-transition{
  transition: all .5s ease-in-out;
}
